@model IEnumerable<ITM.Models.CourseItm>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12" style="margin-top: 80px;">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Courses</h4>
                <a asp-controller="Admin" asp-action="Course_Create" style="margin-left: auto; display: flex; justify-content: flex-end;">
                    <button class="btn btn-primary btn-round text-right">
                        <i class="fa fa-plus"></i>
                        Add Row
                    </button>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["SuccessMessage"]
                    </div>
                }
                <table id="add-row"
                       class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Duration</th>
                            <th>Fees</th>
                            <th>Description</th>
                            <th>Teacher</th>
                            <th>Department</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Coursename</td>
                                <td>
                                    <img src="~/assets/extra-images/@item.Courseimage" style="width: 100px; height: 100px; object-fit: cover; border-radius: 5px;" />
                                </td>
                                <td>@item.Courseduration years</td>
                                <td>$ @item.Coursefees</td>
                                <td>@item.Coursedesc</td>
                                <td>@item.Courseteacher</td>
                                <td>@item.CourseDepart?.DepartmentName</td>
                                <td>
                                    <div class="form-button-action">
                                        <a asp-controller="Admin" asp-action="Course_Edit" asp-route-id="@item.Courseid">
                                            <button type="button" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                        <a asp-controller="Admin" asp-action="Course_Delete" asp-route-id="@item.Courseid">
                                            <button type="button" class="btn btn-link btn-danger" data-original-title="Remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
